[Unit]
Description=\Hadoop HDFS namenode service
After=network-online.target 
Requires=network-online.target

[Service]
Type=forking

User=hadoop
Group=hadoop

ExecStart=/home/{{ HADOOP_USER }}/hadoop-{{ HADOOP_VERSION }}/bin/hdfs --daemon start namenode
ExecStop=/home/{{ HADOOP_USER }}/hadoop-{{ HADOOP_VERSION }}/bin/hdfs --daemon stop namenode

WorkingDirectory=/home/{{ HADOOP_USER }}/hadoop-{{ HADOOP_VERSION }}
Environment=JAVA_HOME=/usr/lib/jvm/jre-1.8.0-openjdk
Environment=HADOOP_HOME=/home/{{ HADOOP_USER }}/hadoop-{{ HADOOP_VERSION }}
Restart=on-failure

[Install]
WantedBy=multi-user.target