[Unit]
Description=\Hadoop YARN resourcemanager service
After=network-online.target 
Requires=network-online.target

[Service]
Type=forking

User=hadoop
Group=hadoop

ExecStart=/home/{{ HADOOP_USER }}/hadoop-{{ HADOOP_VERSION }}/bin/yarn --daemon start resourcemanager
ExecStop=/home/{{ HADOOP_USER }}/hadoop-{{ HADOOP_VERSION }}/bin/yarn --daemon stop resourcemanager

WorkingDirectory=/home/{{ HADOOP_USER }}/hadoop-{{ HADOOP_VERSION }}
Environment=JAVA_HOME=/usr/lib/jvm/jre-1.8.0-openjdk
Environment=HADOOP_HOME=/home/{{ HADOOP_USER }}/hadoop-{{ HADOOP_VERSION }}
Restart=on-failure

[Install]
WantedBy=multi-user.target